.errorMessage{

}

.errorCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: transparent;
    z-index: 100;
    border: none;
    border-radius: 12px;
    opacity: 100%;
}

.errorCardBg {
    position: absolute;
    top: 10.2rem;
    left: 18rem;
    z-index: -100;
    width: 48%;
    height: 23rem;
    background-color: lightsalmon;
    opacity: 60%;
    border-radius: 12px;
    box-shadow: 4px 4px 4px 4px wheat;
}