/*
    Inherits most styling from guessingGamePage.css
    Only styling that is specific for the result page goes here.
    classes cardBg and card has been substituted for resultCardBg and resultCard respectively.
*/


.resultTable{
    border-collapse: collapse;
    apdding-left:1rem;
    padding-right:1rem;
}

.resultCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: transparent;
    z-index: 100;
    border: none;
    border-radius: 12px;
    opacity: 100%;
}

.resultCardBg {
    position: absolute;
    top: 10.2rem;
    z-index: -100;
    width: 57.6%;
    height: 18.7rem;
    background-color: lightsalmon;
    opacity: 60%;
    padding-left: 2rem;
    border-radius: 12px;
    box-shadow: 4px 4px 4px 4px wheat;
}