/*
    Inherits most styling from guessingGamePage.css
    Only styling that is specific for the result page goes here.
    classes cardBg and card has been substituted for resultCardBg and resultCard respectively.
*/

.resultTable-wrapper {
    padding-left: 3rem;
}

.resultTable {
    border-collapse: separate;
    border-spacing: 1.5rem 0px;
}

.resultTable td{
    text-align:center;
}

.right-column {
    margin-left: 1rem;
}

.resultCard .button-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
}


.resultCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: transparent;
    z-index: 100;
    border: none;
    border-radius: 12px;
    opacity: 100%;
}

.resultCardBg {
    position: absolute;
    top: 10.2rem;
    left: 18rem;
    z-index: -100;
    width: 48%;
    height: 23rem;
    background-color: lightsalmon;
    opacity: 60%;
    border-radius: 12px;
    box-shadow: 4px 4px 4px 4px wheat;
}
