@{
    ViewData["Title"] = "- The Guessing Game - Result -";
    string tmpItems = (string)ViewBag.guessList;
    string[] items = tmpItems.Split(',');
    string[] tmps = { "-1", "-1" };
    string[] tmps2 = { "", "" };
}

<div class="content-wrapper">
    <div class="card-wrapper">
        <h1 class="display-4">The Guessing Game</h1>
        <p>Guess the secret number bewteen 1 and 100</p>
        <div id="card-holder">
            <div class="resultCardBg"></div>
            <div class="resultCard">
                <div class="form-wrapper">
                    <form action="/GuessingGame" method="post">
                        <div class="resultTable-wrapper">
                            <table class="resultTable">
                                <thead>
                                    <tr>
                                        <th>Guess</th>
                                        <th>Magic Reply</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (string item in items)
                                    {
                                        tmps = item.Split(':');
                                        <tr>
                                            <td>@tmps[0]</td>
                                            <td>@tmps[1]</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>

                        <div class="button-wrapper">
                            <div hidden>
                                <button id="submitButton" type="submit">Enter</button>
                            </div>
                            <div>
                                <button onclick="javascript: buttonClick('newGame')" type="button">New Game</button>
                            </div>
                            <div>
                                <button onclick="javascript: buttonClick('endGame')" type="button">End Game</button>
                            </div>
                        </div>

                        <input id="callButton" type="text" name="callButton" value="" hidden />
                    </form>

                </div>
                <div class="scoreBoard-wrapper">
                    <h2>Top Scores</h2>
                    <table class="topTen-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (string item in ViewBag.topTen)
                            {
                                tmps2 = item.Split(':');
                                <tr>
                                    <td>@tmps2[0]</td>
                                    <td>@tmps2[1]</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>