


@{
    ViewData["Title"] = "- Error Page -";

}

<div class="content-wrapper">
    <div class="card-wrapper">
        <h1 class="display-4">The Guessing Game</h1>
        <p>Guess the secret number bewteen 1 and 100</p>
        <div id="card-holder">
            <div class="cardBg"></div>
            <div class="card">
                <div class="errorMessage">

                </div>
                <input id="callButton" type="text" name="callButton" value="errorReturn" hidden />
                <div class="button-wrapper">
                    <div>
                        <button id="submitButton" type="submit">Continue</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>